 <!-- Two -->
 <section class="spotlight style1 content-align-left image-position-center onscroll-image-fade-in" 
 id="first" [ngClass]=" item.position ?'orient-right': ' orient-left'"
 *ngFor="let item of authoredData"
 >
  <div class="content">
      <h2>{{item.title}}</h2>
      <p>{{item.body}}</p>
      <ul class="actions stacked">
          <li><a href="#" class="button">Learn More</a></li>
      </ul>
  </div>
  <div class="image">
      <img src="{{item.imageUrl}}" alt="">
  </div>
</section>

